
body {
    background-color: #CEFFFB;
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: none;
	border: 1px;
    margin-left: auto;
    margin-right: auto;
}

header {
	font-style: bold;
}

footer {
	font-style: italic;
	font-size: 90%;
}

#button {
    border: 1px;
	border-style: solid;
    background-image: url('buttonBackground.jpg');
    background-repeat: repeat-x;
    height: 20px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
